
@{
    ViewData["Title"] = "Register";
}

@section Styles{
    <link href="~/css/login.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Đăng ký</h5>
                <form class="form-signin" asp-controller="Home" asp-action="Register" method="post">
                    <div class="form-label-group">
                        <input type="text" id="UserName" name="username" class="form-control" placeholder="UserName" required autofocus>
                        <label for="UserName">UserName</label>
                    </div>

                    <div class="form-label-group">
                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                        <label for="inputPassword">Password</label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Đăng ký</button>
                </form>
            </div>
        </div>
    </div>
</div>

